@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    font-family:"Be Vietnam Pro", sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: #11101d;
}