@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",Arial, Helvetica, sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
}

.sidebar .logo-datails{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-datails ion-icon{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
   
}

.sidebar .logo-datails .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}