@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Be Vietnam Pro", sans-serif;
}

body{
    min-height: 100vh;
    background: #d2d2d2;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: rgb(3, 47, 50);
    padding: 25px 20px;
    transition: all 0.4s ease;
}
.sidebar:hover{
    width: 260px;
}

.sidebar-header{
    display: flex;
    align-items: center;
}


.sidebar-header img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.sidebar-header h2{
    font-size: 1.25rem;
    font-weight: 600px;
    color: #fff;
    margin-left: 23px;
}
.sidebar-links{
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}
.sidebar-links h4 span{
    opacity: 0;
}
.sidebar:hover .sidebar-links h4 span{
    opacity: 1;
}

.sidebar-links h4{
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
    white-space: nowrap;
}


.sidebar-links li a{
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #dbd4d4e3;
    font-weight: 500;
    padding: 5px 10px;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar-links li a:hover{
      background: #ffffff2d;
      color: #fff;
      border-radius: 4px;
}
.user-account{
    margin-top: auto;
    padding: 3px 4px;
    margin-left: -10px;
}
.user-account .user-profile{
    display: flex;
    align-items: center;
    color: #e5dede;
}

.user-profile img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.user-detail{
    margin-left:23px ;
    white-space: nowrap;
}
.user-profile h3{
    font-size: 1rem;
    font-weight: 600;
}
.user-profile span{
    font-size: 0.75rem;
    padding: auto;

}