@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Be Vietnam Pro", sans-serif;
}

body{
    min-height: 100vh;
    background: #d2d2d2;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #161a2d;
    padding: 25px 20px;
}

.sidebar-header{
    display: flex;
    align-items: center;
}


.sidebar-header img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.sidebar-header h2{
    font-size: 1.25rem;
    font-weight: 600px;
    color: #fff;
    margin-left: 23px;
}
