@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,700;1,200;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(#f1faff,#cbe4ff);
}
.sidebar{
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    background: #151a2d;
     height: calc(100vh - 32px);
}
.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
   
}

.sidebar-header .header-logo{
       width: 46px;
       height: 46px;
       display: block;
       color: white;
       object-fit: contain;
}
.sidebar-header .toggler{
    height: 35px;
    width: 35px;
    border: none;
    color: #151a2d !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    background: #fff;
    transition: 0.4s ease;
}
.sidebar-header .toggler:hover{
    background: #dde4fb;
}
.sidebar-header .toggler .material-symbols-outlined {
    color: #151a2d;
}

.sidebar-header .toggler span{
    font-size: 1.75rem;
}
.sidebar-nav .nav-list{
    list-style: none;
}
.sidebar-nav .nav-link{
    color: #fff;
    text-decoration: none;
}

