@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,700;1,200;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(#f1faff,#cbe4ff);
}
.sidebar{
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    background: #151a2d;
     height: calc(100vh - 32px);
}
.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
   
}
.material-symbols-outlined2{
    color: white;
    background-color: #a22d4a;
}
.sidebar-header .header-logo{
       width: 46px;
       height: 46px;
       display: block;
       color: white;
       object-fit: contain;
}
.sidebar-nav .nav-link{
    text-decoration: none;
}
