@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.close {
  width: 78px;
}

/* Logo */
.logo-details {
  height: 60px;
  display: flex;
  align-items: center;
}

.logo-details i {
  font-size: 30px;
  color: #fff;
  min-width: 78px;
  text-align: center;
}

.logo-details .logo_name {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s ease;
}

.sidebar.close .logo_name {
  opacity: 0;
  pointer-events: none;
}

/* NAV LINKS */
.nav-links {
  flex: 1;
  overflow: auto;
  padding-bottom: 50px;
}

.nav-links li {
  list-style: none;
  transition: all 0.4s ease;
}

.nav-links li:hover {
  background: #1d1b31;
}

.nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-links li i {
  min-width: 78px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.nav-links li .link_name {
  color: #fff;
  font-size: 17px;
}

/* DROPDOWN TOGGLE */
.iocn-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li .sub-menu {
  background: #1d1b31;
  padding: 6px 6px 14px 80px;
  display: none;
}

.nav-links li.showMenu .sub-menu {
  display: block;
}

.sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  opacity: 0.6;
}

.sub-menu a:hover {
  opacity: 1;
}

/* WHEN SIDEBAR COLLAPSES */
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
  pointer-events: none;
  padding: 10px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  display: block;
  opacity: 1;
}

/* PROFILE SECTION */
.profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  background: #1d1b31;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  transition: all 0.4s ease;
}

.sidebar.close .profile-details {
  width: 78px;
}

.profile-content img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 10px;
}

.name-job {
  color: #fff;
  flex: 1;
}

.profile_name {
  font-size: 15px;
  font-weight: 500;
}

.job {
  font-size: 12px;
  opacity: 0.7;
}

.sidebar.close .profile-details .name-job {
  opacity: 0;
  pointer-events: none;
}

.profile-details i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
