*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(#ffdad5,#fff7f9);
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
  font-weight: 600;
  font-size: 40px;
  color: plum;
  margin-bottom: 5px;
  
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: plum;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 12px;
}
.contact-left textarea{
  height: 140px;
  padding-top:15px;
  border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ff994f;
}